<nav>
  <div id ="logo">
    <ul>
      <li><img src="https://cdn.pixabay.com/photo/2016/05/20/20/20/weather-1405870_960_720.png" class="imagen">Clima</li>
    </ul>
            
  </div>
  <div id="derLogo">
    <ul>
      <li><b>Chile</b></li>
      <li id="temp">
      <input type="button" value="Celsius">
      <input type="button" value="Fahrenheit">
      </li>
    </ul>

  </div>

  <div id ="menu">
    <button mat-button >Valparaiso</button> 
    <button mat-button>Metrepolitana</button>
    <button mat-button >Bio Bio</button>
    <button mat-button >Araucanía</button>
  </div>
</nav>